@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
}

.section-title{
    color: 562EFF;
    font-size: 24px;
}